/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/tmp
.env
.phpunit.result.cache
.editorconfig